{% extends 'base.html' %}

{% block title %}Shop page{% endblock title %}

{% block content %}

    <div class='max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0'>

        <div class='fillters w-full lg:w-1/4'>
            <h3 class='mb-3 text-xl uppercase'>search</h3>
            <form action="" method='GET'>
                {% csrf_token %}
                <div  class='flex'>
                    <input type="text" name='q' class='p-4 bg-gray-100 border-0' placeholder='Search...'>
                    <button type="submit" class='p-4 bg-gray-100 border-0'>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </form>

            <h3 class='mt-6 mb-3 text-xl uppercase'>Categories</h3>
            <ul class='space-y-2'>
                {% for category in categories %}
                    {% if active_category == category.slug %}
                        <li class='text-red-500'><a href="{% url 'shop' %}?cat={{ category.slug }}">{{category.name}}</a></li>
                    {% else %}
                        <li class='text-gray-500'><a href="{% url 'shop' %}?cat={{ category.slug }}">{{category.name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>

        <div class='products -mt-4 w-full lg:w-3/4 flex items-center flex-wrap'>
            {% for product in products %}
                {% include 'partials/product_list_card.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}