<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdn.tailwindcss.com'></script>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class='border-b border-gray-300'>
        <div class='max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between'>
            <div class='menu-left flex items-center space-x-6'>
                <a href="#" class='py-4 text-lg text-red-800 hover:text-red-400 fonr-semibold'>MRM</a>

                <ul class='flex items-center space-x-4'>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>

            <div class='menu-right flex items-center space-x-4'>
                <ul class='flex items-center space-x-4'>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer class='bg-gray-100'>
        <div class='max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between'>
            <div class='footer-left mb-12 md:mb-0'>
                <h2 class='mb-5 uppercase text-lg'>About us</h2>
                <p class='text-gray-700'>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

            <div class='footer-right'>
                <h2 class='mb-5 uppercase text-lg'>Social links</h2>
                <ul class='space-y-2'>
                    <li class='text-red-700 hover:text-blue-600'><a href="#">Face book</a></li>
                    <li class='text-red-700 hover:text-blue-600'><a href="#">instagram</a></li>
                    <li class='text-red-700 hover:text-blue-600'><a href="#">twitter</a></li>
                    <li class='text-red-700 hover:text-blue-600'><a href="#">linkedin</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>